// .ResultTable {}

.ResultTable__header {
  display: flex;
  border-bottom: 1px solid var(--color-0);
  margin-bottom: .4rem;
  padding: .4rem .2rem;
  font-weight: bold;

  > * {
    flex: 1;
  }
}

// .ResultTable__items {}
