@import-normalize;
@import-sanitize;

:root {
  --color-text: hsla(154, 15%, 15%, 1);
  --color--2: hsla(154, 15%, 49%, 1);
  --color--1: hsla(147, 21%, 70%, 1);
  --color-0: hsla(167, 29%, 85%, 1);
  --color-1: hsla(180, 31%, 94%, 1);
  --color-2: hsla(133, 100%, 98%, 1);
}

body {
  background-color: var(--color-2);
  color: var(--color-text);
}

.App {
  width: 100%;
  max-width: 80ch;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 0 auto;

  > :not(:last-child) {
    margin-bottom: 1.6rem;
  }
}
